<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="assets/js/formhandle.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <!-- introduction template -->
  <!--  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> SimpleChat
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>
    
    <main class="msger-chat">
      <div class="msg left-msg">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
        ></div>
  
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">BOT</div>
            <div class="msg-info-time">12:45</div>
          </div>
  
          <div class="msg-text">
            Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
            
          </div>
        </div>
      </div>
    
      
    </main>
  
    <form class="msger-inputarea" method ="POST" action="/">
      <input type="text" name ="item" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn" >Send</button>
    </form>
  </section> -->
  <!-- introduction template ends -->
	<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> SimpleChat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>
  <main class="msger-chat">
  <% for(var i=0;i< me.length;i++){%>
    <div class="msg right-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>
     
      <div class="msg-bubble">
        
        <div class="msg-info">
          <div class="msg-info-name">Sajad</div>
          <div class="msg-info-time">12:46</div>
        </div>

        <div class="msg-text">
          <%= me[i].item%>
        </div>
        
      </div>
     
    </div>
    <div class="msg left-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">BOT</div>
          <div class="msg-info-time">12:45</div>
        </div>

        <div class="msg-text">
         <%= b[i].item%>
          
        </div>
      </div>
    </div>
  
  
     <%  } %>
  </main>

  <form class="msger-inputarea">
    <input type="text" name ="item" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn" >Send</button>
  </form>
</section>

</body>
</html>