<!DOCTYPE html>
<html>

<head>
  <title>Reg</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/testFrame.css">
  <script type="text/javascript" src="/assets/js/testFrame.js"></script>
</head>

<body>
  <div class="container">
    <div class="row my-3">
      <div class="col col-md-6">
        <% institutions.forEach( (inst) => { %>
          <button id="<%= inst.id %>" class="institution"><%= inst.name %></button>
          <br>
        <% }) %>
      </div>
      <div class="col col-md-6">
        <iframe class="frame" src="" height="600px" width="400px"></iframe>
      </div>
    </div>
  </div>

</body>

</html>