body {
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(236, 181, 62, 0.95);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: solid;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 8px 8px 20px 4px black;
  border-color: transparent;
}

button {
  background: none;
  border: solid;
  border-radius: 5px;
  padding: 3px 5px;
  outline: none;
  color: black;
  font-size: 1em;
  margin: 10px;
  transition: all 0.5s;
  box-shadow: 4px 4px black;
}

button:focus {outline:0;}

.selected {
  color: white;
  box-shadow: none;
}

.selected:hover {
  box-shadow: 8px 8px 13px 2px white;
}

button:hover {
  box-shadow: 8px 8px 13px 2px black;
}